@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular style */
@font-face {
    font-family: 'OpenSans';
    src: url('./assets/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Light style */
@font-face {
    font-family: 'OpenSans Light';
    src: url('./assets/OpenSans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
  
/* Bold style */
@font-face {
    font-family: 'OpenSans Bold';
    src: url('./assets/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.6;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

.main-container {
    /* sm:py-[50px] sm:px-[24px] */
    @apply bg-[#0e1414] min-h-screen py-[200px] px-[50px] md:py-[50px] md:px-[24px] sm:py-[50px] sm:px-[24px];
}
.content {
    @apply lg:flex-nowrap md:flex-wrap sm:flex-wrap md:pb-[100px] lg:pb-[178px];
    display: flex;
    /* padding-bottom: 230px; */
    max-width: 1200px;
    margin: 0 auto;
}
.image-container {
    /* @apply flex-[0_0_2/3] grid grid-cols-2 grid-rows-2 gap-x-6 gap-y-5; */
    flex: 0 0 66%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 24px;
    grid-template-areas: "image-1 image-2" "image-1 image-3";

}
.image-container .block-img {
    @apply transform transition-transform duration-500 hover:scale-110;
    animation: pop-up 0.5s ease forwards;
    transform-origin: center;
    opacity: 0;
}
.image-container .block-img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.latest-title {
    @apply text-[42px] font-xlight text-center mb-[52px] tracking-wide uppercase;
    font-family: 'OpenSans Light', 'sans-serif';
}
.image-1 {
    grid-area: image-1;
  }
  
  .image-2 {
    grid-area: image-2;
    object-fit: cover;
  }
  
  .image-3 {
    grid-area: image-3;
    object-fit: cover;
  }

.content-description {
    /* padding-left: 20px; */
    @apply lg:pl-[20px] md:pl-0 opacity-0 transform translate-y-4 transition-all duration-700 ease-in-out;
    animation: fade-in-title 0.5s forwards;
}
.fade-in-title {
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in-title 0.5s forwards;
   
}

.fade-in-content {
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in-title 0.5s forwards;
}

.card-container {
    display: flex;
    gap: 24px;
    transition: all 0.5s ease;
}

.card {
    @apply transform transition-transform duration-300 hover:scale-105 hover:shadow-lg;
    flex: 1 0 0;
    transition: transform 0.5s ease, top 0.5s ease, left 0.5s ease;
}
.card-container .card {
    animation: grid-move 0.5s ease;
}
.col-inner {
    display: block;
    text-decoration: none;
  }
  .col-inner span {
    display: block;
  }

.col-img {
    display: block;
    margin-bottom: 26px;
    border-bottom: 4px solid #cf1430;
}
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 10;
  }

.modal-overlay.show {
    display: block;
  }
  .modal-overlay .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
  }
  
  .modal-image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 70%;
    opacity: 0;
    animation: fade-in 0.3s ease-in-out forwards;
  }


@media screen and (max-width: 1024px) {
    .main-container {
        @apply py-[50px] px-[24px];
        padding-bottom: 132px;
    }
    .content {
        @apply flex-wrap pb-[120px];
    }
    .image-container {
        flex: 0 0 100%;
        padding-bottom: 50px;
      }
}

@media screen and (max-width: 640px) {
    .card-container {
        flex-wrap: wrap;
        gap: 50px;
    }
    .card {
        flex: 0 0 100%;
    }
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes grid-move {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes pop-up {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes fade-in-title {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}